@font-face {
  font-family: "DIN Pro";
  src: url("/fonts/DINPro-Light.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "DIN Pro";
  src: url("/fonts/DINPro-Regular.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DIN Pro";
  src: url("/fonts/DINPro-RegularItalic.woff2") format("woff2");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "DIN Pro";
  src: url("/fonts/DINPro-Medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "DIN Pro";
  src: url("/fonts/DINPro-Bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

:root {
  --font-sans: "DIN Pro", "Helvetica Neue", Arial, sans-serif;
}

body {
  font-family: var(--font-sans);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 700;
}
